@font-face {
font-family: "Pixel";
src: url('../resources/fonts/pixel/pixel.eot');
src: url('../resources/fonts/pixel/pixel.eot') format('embedded-opentype'),
        url('../resources/fonts/pixel/pixel.woff2') format('woff2'),
        url('../resources/fonts/pixel/pixel.woff') format('woff'),
        url('../resources/fonts/pixel/pixel.ttf') format('truetype');
}
:root {
    --font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    --clr-primary: #EEEEEE;
    --clr-secondary: #222831;
    --clr-third: #393E46;
    --clr-accent: #00ADB5;
}

body {
    background-color: var(--clr-primary); /* background color */
    color: var(--clr-secondary); /* text color */
	font-family: system-ui;
}

.line {
    width: 100%;
    border-top: 1px solid var(--clr-secondary);
}

.padding {
    padding-left: 10rem;
    padding-right: 10rem;
}


nav {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-secondary);
    /* sticky navbar */
    position: sticky;
    top: 0px;
    background-color: var(--clr-primary);
}

nav * {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.artist-icon {
    width: 2rem;
    height: 2rem;
}

.artist {
    font-size: 1.5rem;
    text-decoration: none; /* no underline */
    color: var(--clr-secondary); /* normal text color */
}

#news-letter-container {
    display: flex; /* dont use height here, let the children decide */
}
/* do not use --> height: 100%;  will cause headache */
.input-bar, button {
    font-size: 1rem;
    padding: .8rem;
    background-color: transparent;
    border: 1px solid;
    outline: none;
    box-shadow: var(--clr-secondary) 4px 4px 0 0;
}

.input-bar:focus {
    border-color: var(--clr-accent);
    box-shadow: var(--clr-accent) 4px 4px 0 0;
}
.input-bar:not(:placeholder-shown) {
    border-color: var(--clr-accent);
    box-shadow: var(--clr-accent) 4px 4px 0 0;
}

button {
    transition: 0.05s;
}
button:active {
    transform: translate(2px, 2px);
    box-shadow: var(--clr-secondary) 2px 2px 0 0;
}

header {
    padding: 4rem 0;
    border-bottom: 1px solid var(--clr-secondary);
}

header .page-title {
    font-size: 3rem;
}

main {
    padding: 4rem 0;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
@media (max-width: 1200px)  {
	main {
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 800px)  {
	main {
		grid-template-columns: 1fr;
	}
}

.card {
    display: grid;
    grid-template-areas: 
        "image image"
        "text text"
        "details price";
    grid-template-columns: 2fr auto; /* width of each column (auto bc I want it to grow as the text grows inside it */
    grid-template-rows: 1fr 4rem 4rem; /* height of each row*/

	border: 1px solid;
}

.card-img {
    grid-area: image;
    max-width: 100%;
}

.card-text {
    grid-area: text;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;

	border-top: 1px solid;
	border-bottom: 1px solid;
}

.first {
    grid-area: details;
    display: flex;
    align-items: center;
	gap: .8rem;
    padding: 1rem;
}

.star-icon {
    width: 20px;
    height: 20px;
}

.price {
    grid-area: price;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

footer {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
	border-top: 1px solid var(--clr-secondary);
}

.creator {
    font-size: 1.4rem;
    font-family: "Pixel";
	color: var(--clr-accent);
}